<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <figure class="image is-square">
                    <%= image_tag @product.image.variant(:display)%>
                </figure>
            </div>
            <div class="column is-6 is-offset-1">
                <h1 class="title is-2">
                    <%= @product.name %>
                </h1>
                <h2 class="subtitle is-4">
                    <%= @product.description %>
                </h2>
                
                <% if @product.discount? %>
                    <h3 class="subtitle is-4 has-text-danger">
                        <s><%= number_to_currency @product.price_in_dollar %></s>
                    </h3>
                    <h3 class="subtitle is-4 has-text-danger">
                        <Strong><%= number_to_currency @product.discount_price %></Strong>
                    </h3>
                <% else %>
                    <h3 class="subtitle is-4">
                        <%= number_to_currency @product.price_in_dollar %>
                    </h3>
                <% end %>
                <br>
                <p class="has-text-centered">
                    <% if @cart.include?(@product.id.to_i) %>
                        <%= link_to 'Remove From Cart', remove_from_cart_path(@product.id), data: {turbo_method: :delete}, :class => "button is-medium is-danger is-outlined" %>
                    <% else %>
                        <%= link_to 'Add to Cart', add_to_cart_path(@product.id), data: {turbo_method: :post}, :class => "button is-medium is-info is-outlined" %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
</div>