<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <figure class="image is-square">
                    <%= image_tag @product.image.variant(:display)%>
                </figure>
            </div>
            <div class="column is-6 is-offset-1">
                <h1 class="title is-2">
                    <%= @product.name %>
                </h1>
                <h2 class="subtitle is-4">
                    <%= @product.description %>
                </h2>
                
                <% if @product.discount? %>
                    <h3 class="subtitle is-4 has-text-danger">
                        <s><%= number_to_currency @product.price_in_dollar %></s>
                    </h3>
                    <h3 class="subtitle is-4 has-text-danger">
                        <Strong><%= number_to_currency @product.discount_price %></Strong>
                    </h3>
                <% else %>
                    <h3 class="subtitle is-4">
                        <%= number_to_currency @product.price_in_dollar %>
                    </h3>
                <% end %>
                <br>

                <% if @cart.has_key?(@product.id.to_s) %>
                    <%= link_to 'Remove From Cart', remove_from_cart_path(@product.id), data: {turbo_method: :delete}, :class => "button is-medium is-danger is-outlined" %>
                <% else %>
                    <%= form_with(url: add_to_cart_path, data: {turbo_method: :post}) do |form| %>
                        <div class="field has-addons has-addons-centered">
                            <div class="control">
                                <%= form.number_field :quantity, in: 1..20, step: 1, value: 1, :class => "input is-medium is-primary" %>
                            </div>
                            <div class="control">
                                <%= form.submit 'Add to Cart', :class => "button is-medium is-primary is-outlined" %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>