<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <figure class="image is-3by4">
                    <%= image_tag @product.image.variant(:display)%>
                </figure>
            </div>
            <div class="column is-6 is-offset-1">
                <h1 class="title is-2">
                    <%= @product.name %>
                </h1>
                <h2 class="subtitle is-4">
                    <%= @product.description %>
                </h2>
                
                <% if @product.discount? %>
                    <h3 class="subtitle is-4 has-text-danger">
                        <s>$<%= @product.price_in_dollar %></s>
                    </h3>
                    <h3 class="subtitle is-4 has-text-danger">
                        <Strong>$<%= @product.discount_price %></Strong>
                    </h3>
                <% else %>
                    <h3 class="subtitle is-4">
                        <%= @product.price_in_dollar %>
                    </h3>
                <% end %>
                <br>
                <p class="has-text-centered">
                    <a class="button is-medium is-info is-outlined">
                        Add to Cart
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>