<h1 class="title">Cart</h1>

<% if @cart.empty? %>
    <br>
    <h1 class="subtitle">Cart is empty</h1>
    <%= link_to "Back to Shopping", root_path %>
<% else %>
    <% @cart.each do |product, quantity| %>
        <div class="box has-background-light">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <% if product.image.attached? %>
                            <%= image_tag product.image.variant(:thumb) %>
                        <% end %>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <h3 class="title is-4"><%= link_to product.name, product_path(product.id), target: '_blank' %></h3> 

                        <br>
                        <strong>Price: </strong>
                        <% if product.discount? %>
                            <s class="has-text-danger"><%= number_to_currency product.price_in_dollar %></s>
                            <%= number_to_currency product.discount_price %>
                        <% else %>
                            <%= number_to_currency product.price_in_dollar %>
                        <% end %>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <%= link_to 'Remove', remove_from_cart_path(product.id), data: {turbo_method: :delete} %>
                        </div>
                        <div class="level-left">
                            <%= form_with(url: add_to_cart_path(product.id), data: {turbo_method: :post}) do |f| %>
                                <div class="field has-addons">
                                    <div class="control">
                                        <%= f.number_field :quantity, in: 1..20, step: 1, value: quantity, :class => "input is-primary" %>
                                    </div>
                                    <div class="control">
                                        <%= f.submit "Update", :class => "button is-primary" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    <% end %>

    <div class="box has-background-light">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <strong>Subtotal: </strong><%= number_to_currency Product.calculate_subtotal(@cart) %>
                    
                    <% if customer_signed_in? %>
                        <p>Select location: </p>
                        <%= form_with(url: checkout_path, data: {turbo: false}) do |f| %>
                            <% @locations.each do |location| %>
                                <div class="control">
                                    <%= f.radio_button :location, location.id, id: location.id %>
                                    <%= f.label location.id, location.formatted_location %>
                                </div>
                            <% end %>
                            <div class="control">
                                <%= f.submit "Checkout", :class => "button is-medium is-primary is-outlined" %>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="notification is-danger">
                            Please <%= link_to 'login', customer_session_path %> or <%= link_to 'signup', new_customer_registration_path %> to checkout
                        </div>
                    <% end %>
                </div>
            </div>
        </article>
    </div>
<% end %>