<h1 class="title">Your Orders</h1>

<% if @orders.empty? %>
    <br>
    <h1 class="subtitle">You have no orders</h1>
    <%= link_to "Back to Shopping", root_path %>
<% else %>
    <% @orders.each do |order| %>
        <div class="box has-background-light">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <strong>Subtotal: </strong><%= order.subtotal_in_dollar %>
                        <br>
                        <strong>Tax: </strong><%= order.total_tax %>
                        <br>
                        <strong>Total: </strong><%= order.calculated_total %>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <%= link_to 'Order Details', order %>
                        </div>
                        <div class="level-left">
                            <span class="tag is-dark">
                                <%= order.status.name %>
                            </span>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    <% end %>
<% end %> 