<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "common/nav" %>
    <div class="container">
      <section class="section">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
